<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<style>

    body{

        background-color: grey;

        color: whitesmoke;

    }

    table, th {

        border:1px solid black;

    }

</style>

<body>

    <table>
        <a href="/item/create">create new Item</a>
        <tr>

            <th>Item id</th>

            <th>Item name</th>

            <th>Item price</th>

            <th>Item Image</th>
            <th>Action</th>

        </tr>

   

        {% for item in items %}

   

        <tr>

            <th> {{item.id}} </th>

            <th> {{item.item_name}} </th>

            <th> {{item.item_price}} </th>

            <th> <img width="100" src="../../{{item.item_image}}"/> </th>

            <th>
                <a href="/item/edit/{{item.id}}">Edit</a>
                <a href="/item/delete/{{item.id}}">Delete</a>
            </th>

        </tr>

   

        {%endfor%}

   

    </table>

   
   

</body>
</html>